<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>rkuo.showupbooster.event</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>showupbooster</string>
			</array>
		</dict>
	</array>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<true/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>ShowUpBooster needs permission to send you reminders before your events so you don't miss them.</string>
</dict>
</plist>
